//Typography
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400&display=swap');

// Colors
$c-cod-grey: #1a1a1a;
$c-cod-grey-semi-trans: rgba(26, 26, 26, 0.6);
$c-pickled-bluewood: #35495e;
$c-ocean-green: #43b883;
$c-ocean-green-semi-trans: rgba(67, 184, 131, 0.6);
$c-white: #fff;
$c-white-semi-trans: rgba(255, 255, 255, 0.6);
$c-rose: #fd1d7c;
$c-dodger-blue: #5468ff;
$c-dodger-blue-semi-trans: rgba(84, 104, 255, 0.6);

//Layout
$header-height: 53px;
$header-height-bdl: $header-height * 2;

// Transitions
$trans-default: .5s ease;

//Ratios
$ratio-16-x-9: 56.3% 0 0;

// Utilities
$box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
$gtr: 20px;
$gtr-hlf: $gtr / 2;
$gtr-dbl: $gtr * 2;